<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('routes_blueprint.register') }}">Register</a></li>
                    <li><a href="{{ url_for('routes_blueprint.login') }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('routes_blueprint.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('routes_blueprint.chat') }}">Chat</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Main content  -->
        {% endblock %}
    </main>

    <footer>
        <p>© {{ current_year }} Your Flask App. All rights reserved.</p>
    </footer>
    <!-- <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script> -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    {% block scripts %}
    
    {% endblock %}
</body>
</html>
