body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #333;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

#welcome-message {
    margin: 2em;
    padding: 1em;
    border-radius: 0.5em;
    background: #e5e5e5;
    text-align: center;
}
